@charset "utf-8";

body {  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  }
p {  padding-top: 15px;  padding-left: 20px;  }

.header{  
    top: 0%;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #aaa;  
  }

  #card {  
    position: absolute;
    margin-top: 150px;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222;
    color: #ccc;
    min-width: 400px;
    min-height: 500px;
    border-radius: 20px;
  }