@charset "UTF-8";

/*
    AUTHOR : Harsh Ajay Mehta
    ID : 190911272
    ALIAS : gonewithharshwinds
    SOCIAL : @gonewithharshwinds
    Question : L1 Q1
*/

body {  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  }
p {  padding-top: 15px;  padding-left: 20px;  }

/* BG Animation*/
.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate forwards;
	        animation: color-change-2x 2s linear infinite alternate forwards;
}
@-webkit-keyframes color-change-2x {
  0% {
    background: #fff;
  }
  100% {
    background: #000;
  }
}
@keyframes color-change-2x {
  0% {
    background: #fff;
  }
  100% {
    background: #000;
  }
}

/* Header */

.header{  
  position: absolute;
  text-align: center;
  top: 0%;
  left: 50%;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  transform: translateX(-50%);
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #aaa;  
}

/* Card */

#card {  
    position: absolute;
    margin-top: 150px;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222;
    color: #ccc;
    min-width: 400px;
    min-height: 500px;
    border-radius: 20px;
  }

  .form-heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: normal;
    font-size: 20px;
    color: ccc;
  }


/*footer*/
.end{  
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 1%;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  transform: translateX(-50%);
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: #A8A7A7;
  transition: color 0.5s linear;
}
.end:hover {
  color: #bbb;
}